button {
    border: none;
	border-radius: 4px;
	background-color: #5cb85c;
	color: #fff;
	width: 70px;
	height: 30px;
	cursor: pointer;
}
.game-over-wrapper {
    z-index: 999;
    font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.you-win {
    color: #c872ff;
	margin: 0;
}
.you-lose {
    color: #d37d5b;
	margin: 0;
}
.game-wrapper {
    background-color: transparent;
    text-align: center;
	width: auto;
    padding: 20px;
}
form {
	margin: 20px;
}
input {
	width: 50px;
	border-radius: 4px;
    border: solid 1px #aaa;
    height: 22px;
    margin: 8px;
    padding: 4px;
}

.superman {
	width: 150px;
	margin: 10px;
	background-color: #af0000;
}
.superman-active {
	background-color: #325ba2;
	font-wight: bold;
}
.flag-alert {
	color: red;
}